<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Text Classifier.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64F594941C05D8E400C85067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64F594AB1C05D8E400C85067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64F594B61C05D8E500C85067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
